---
import Layout from "../../layouts/Layout.astro";
import PostListItem from "../../components/PostListItem.astro";
import { getSortedEntries } from "../../utils/collections";
import { SITE } from "../../config";

const posts = await getSortedEntries(["blog"]);
---

<Layout
    title={`Blog - ${SITE.title}`}
    description="Explora mis últimos artículos y tutoriales."
>
    <section class="max-w-3xl">
        <h1 class="text-3xl font-bold mb-10 font-heading">Archivo</h1>

        <div class="space-y-4">
            {
                posts.map((post) => (
                    <PostListItem entry={post} showDescription={true} />
                ))
            }
        </div>
    </section>
</Layout>
